{% extends "base.html.twig" %}

{% block title %}CGV
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Conditions Générales de Vente - Réservation de Chambres à "L'Hôtel de L'Impératrice"</h1>


		<h2>Réservation de Chambres</h2><br>
		<p>
			Toutes les réservations de chambres sont soumises à disponibilité.
			Les réservations peuvent être effectuées en ligne, par téléphone, par e-mail ou en personne à la réception de l'hôtel.
			Pour garantir la réservation, un dépôt ou une carte de crédit valide peut être requis.</p>
		<h2>Paiement</h2>
		<p>
			Le paiement complet est dû au moment de l'arrivée, sauf indication contraire lors de la réservation.
			Les frais supplémentaires, tels que les repas, les services de spa, etc., seront facturés séparément.</p>
		<h2>Politique d'Annulation</h2>
		<p>
			En cas d'annulation ou de modification de la réservation, veuillez nous en informer au moins 48 heures avant la date d'arrivée prévue pour éviter des frais d'annulation.
			En cas d'annulation tardive ou de non-présentation, des frais équivalents à une nuitée ou plus peuvent être facturés, selon la durée de la réservation.
		</p>
		<h2>Remboursement en Cas de Force Majeure</h2>
		<p>
			En cas d'annulation due à des circonstances imprévues et indépendantes de la volonté du client (force majeure), telles que des catastrophes naturelles, des grèves, des problèmes de transport, etc., l'hôtel se réserve le droit d'appliquer une politique de remboursement flexible, au cas par cas.
			Le client doit fournir des preuves de la situation de force majeure pour être éligible à un remboursement partiel ou complet.
		</p>
		<h2>Check-In et Check-Out</h2>
		<p>
			Les chambres sont généralement disponibles à partir de 15h le jour de l'arrivée et doivent être libérées avant 12h le jour du départ.
			Les départs tardifs peuvent être disponibles moyennant des frais supplémentaires, sous réserve de disponibilité.
		</p>
		<h2>Responsabilité de l'Hôtel</h2>
		<p>
			L'hôtel ne peut être tenu responsable des objets de valeur non déposés dans le coffre-fort de la chambre.
			L'hôtel ne peut être tenu responsable des interruptions temporaires des services tels que l'Internet, l'électricité, etc., dues à des circonstances indépendantes de sa volonté.
		</p>
		<h2>Loi Applicable</h2>
		<p>

			Les présentes conditions générales sont régies par les lois en vigueur en France. En cas de litige, les tribunaux compétents de Londres (Royaum-Uni) seront seuls compétents.
			Ces conditions générales de vente sont fournies à titre d'exemple et doivent être personnalisées en fonction des besoins spécifiques de votre hôtel et des lois locales applicables. Il est recommandé de consulter un professionnel du droit pour une assistance juridique personnalisée.
		</p>


		
	</div>
{% endblock %}
