{% extends "base.html.twig" %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Mentions Légales</h1>

		<p>
			Mentions légales de l'hôtel "L'Hôtel de L'Impératrice"
			
			Responsable du Site Web
			Nom de la société : Luxury Hotels WorldWide
			Siège social : 125 King Street, NW32 7YL, London, UK
			Téléphone : +44 1632 960875
			E-mail : info@lhw.co.uk
		</p>

		<p>
			Directeur de la publication
			Rhys Poole
		</p>
		<p>
			Hébergement du Site Web
			Hosting Uk
			Adresse : Easyspace Limited, 11-21 Paul Street, London, EC2A 4JU
			Téléphone : 0330 229 0030
			E-mail : support@hostinguk.co.uk
		</p>
		<p>
			Propriété Intellectuelle
			Tous les éléments du site "L'Hôtel de L'Impératrice" (textes, images, vidéos, logos, etc.) sont protégés par les lois sur la propriété intellectuelle. Toute reproduction, distribution, ou utilisation non autorisée de ces éléments est strictement interdite.
		</p>
		<p>
			Protection des Données Personnelles
			"L'Hôtel de L'Impératrice" s'engage à protéger la vie privée de ses clients. Les données personnelles collectées sont utilisées uniquement à des fins de réservation et de communication avec les clients. Ces données ne seront pas partagées avec des tiers sans consentement préalable.
		</p>
		<p>
			Cookies
			Le site web de "L'Hôtel de L'Impératrice" peut utiliser des cookies pour améliorer l'expérience de navigation des utilisateurs. Les utilisateurs ont la possibilité de désactiver les cookies dans les paramètres de leur navigateur.
		</p>
		<p>
			Responsabilité
			"L'Hôtel de L'Impératrice" décline toute responsabilité quant à l'utilisation du site web et à l'exactitude des informations fournies. Les clients sont invités à vérifier toutes les informations directement auprès de l'hôtel.
		</p>
		<p>
			Loi Applicable
			Les présentes mentions légales sont régies par les lois en vigueur en France. En cas de litige, les tribunaux compétents de Londres (Royaum-Uni) seront seuls compétents.
		</p>


	</div>
{% endblock %}
