{% extends "base.html.twig" %}

{% block title %}Actualités{% endblock %}

{% block body %}
<div class="container">
<h1>Nos dernières actualités</h1>


<table><tr><td width="350">
   <script language="JavaScript" src="https://www.lhotellerie-restauration.fr/rss/server_rss_js.asp?nb=4&c=e5eef7"> </script>
   <!-- Paramètre nb = nombre d'item à afficher (de 3 à 10) -->
   <!-- Paramètre c  = code couleur de l'entête (en hexa) -->
</td></tr></table>
</div>
{% endblock %}