{% extends "base.html.twig" %}

{% block title %}Spa{% endblock %}

{% block body %}
<div class="container">
<h1>Le spa</h1>
<p>Bienvenue dans notre sanctuaire de bien-être, où détente et revitalisation vous attendent.</p>
</div>
{% endblock %}